@tailwind base;
@tailwind components;
@tailwind utilities;

.pruebamargen{
    margin: 150px 0;
}

.text-error{
    color: #dc3545;
    font-weight: 600;
}

.ancho-input{
    width: 80px !important;
}


